<form [formGroup]="searchForm">
  <mdb-form-control>
    <input
      mdbInput
      type="text"
      id="searchBar"
      class="form-control form-control-lg"
      formControlName="searchValue"
    />
    <label mdbLabel for="searchBar" class="form-label">Search!</label>
    <div class="d-flex justify-content-center">
      <button
        mdbRipple
        type="button"
        class="btn btn-danger"
        (click)="onClick()"
      >
        Search!
      </button>
    </div>
  </mdb-form-control>
  <br />
  <br />
  <div class="container">
    <h2>{{ title }}</h2>
  </div>
</form>
